nav {

	background-color: gray;
	border-radius: 20px;
	text-align: center;
    padding: 5px;

}
nav>article{
	display: inline-block;
	font-size: 25px;
	width: 18%;
	text-align: center;
    border-radius: 5px;
    border: 1px solid black;

}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: red;
}
.hoverfilm{
    color: white;
}
#status{
    border: 0px;
    text-align: right;
    font-size: 20px;
}
html{
    background-image: url("./images/back.jpg") ;
    background-size: cover;
}
footer{
    text-align: center;
}
#img{
    margin-left: 5%;
    margin-top: 3%;
    margin-right: 3%;
    display: inline-block;
    border: 3px solid white;
    width: 300px;
    height: 400px;
}
#descricourte{
    color: white;
    font-size: 16px;
    display: inline-block;
    margin-top:5%;
    padding:5px;
    width: 50%;
    vertical-align: top;
    background-color: grey;
    border-radius: 10px;

}