body{
    background-image: url("./images/backlog.jpg");
    background-size: cover;
    color:aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav {

	background-color: gray;
	border-radius: 20px;
	text-align: center;
    padding: 5px;

}
nav>article{
	display: inline-block;
	font-size: 25px;
	width: 18%;
	text-align: center;
    border-radius: 5px;
    border: 1px solid black;
}
#status{
    border: 0px;
    text-align: right;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: lightseagreen;
}

#main{
    margin-left: 40px;
    padding-left: 15px;
    padding-bottom: 15px;
    width: 50%;
    background-color: black;
    opacity: 0.8;
    border-radius: 20px;
}

h2{
    margin-left: 10%;
}
#info{
    width: 50%;
    font-size: 18px;
    text-align: center;
    margin-left: 5%;
    
}