/*PARAMETRE GENERAL*/
body{
	background-image: url(https://images.alphacoders.com/939/939304.jpg);
	background-size: cover;
	font-family: 'Source Code Pro', monospace;
}


/*NAV*/
nav {
	background-color: gray;
	border-radius: 20px;
	text-align: center;
}
nav>article{
	display: inline-block;
	font-size: 25px;
	width: 18%;
	text-align: center;
	
}
.a{
	text-decoration: none;
	color: black;
}
.a:hover{
	color:blue;
}

h1{
	text-align: center;
	color: white;
	font-size: 35px;
	margin-top: 2%;
}
/*TITRE*/
h1{
	text-align: center;
	color: white;
	font-size: 35px;
}

/*LOISIRS*/ 
.l{
	width: 80%;
	margin: auto; 
	background-color: gray;
	padding-bottom: 5%;
	padding-top: 8px;
	border-radius: 25px;

}
ul{
	display: inline-block;
	vertical-align: top;
	padding-left: 20px;

}

h4{
	display: inline-block;
	vertical-align: top;
	padding:3px 3px 3px 3px;
	border-radius: 20px;
	margin: 0px;
	background-color: lightgray;
	
}

h2{
	text-align: center;
	color: red;
	font-size: 25px;
	border-bottom: solid black 2px;
	border-radius: 20px;
}


img{
	width: 50%;
}

.v1{
	width: 30%;
	display: inline-block;
	padding-left: 2%;
	padding-top: 1%;

}
/*PORTEURS*/
.po{
	
	width: 80%;
	margin: auto; 
	background-color: gray;
	padding-bottom: 5%;
	padding-top: 8px;
	border-radius: 25px;
	margin-top: 50px;
}